.sales-by-gender-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: 520px;
  z-index: 0;
}
.sales-by-gender-container{
  z-index: 0;
}
.sales-by-gender-quantity-container{
  margin-left: 15px;
}
.sales-by-gender-quantity{
  font-size: 36px;
}
.sales-by-gender-quantity-description{
  font-size: 18px;
  color: var(--gray-light-color);
}
.sales-by-gender-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.apexcharts-legend{
  display: flex;
  flex-direction: column;
  padding-left: 33% !important;
}
.apexcharts-legend-series{
  margin-bottom: 16px !important;
}
.apexcharts-legend-text{
  font-size: 18px !important;
}

.apexcharts-datalabels *{
  font-size: 8px;
}

@media (min-width: 576px) {
  .sales-by-gender-container{
    margin-top: 40px;
  }
  .sales-by-gender-quantity-container{
    margin-left: 40px;
  }
  .sales-by-gender-chart{
    margin-top: 49px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .sales-by-gender-container{
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sales-by-gender-chart{
    margin-left: 200px !important;
    padding-top: 63px;
    padding-bottom: 63px;
    margin: 0;
  }
  .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom{
    padding-bottom: 20px;
  }
}

@media (min-width: 1200px) {
}


