.app-container{
  padding: 0 10px;
}

@media (min-width:576px) {
  .app-container{
    padding: 0 40px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .app-container{
    padding: 0 19px;
  }
}

@media (min-width: 1200px) {
  .app-container{
    padding: 0 119px;
  }
}

